@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap");

* {
  box-sizing: border-box;
}

#welcome-section {
  /* background-image: url(backround.jfif); */
  font-family: "Grechen Fuemen", cursive;
  background-image: url(Background.jpg);
  background-size: cover;
  height: 100vh;
}

#welcome-section .container .row .col-sm {
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  color: white;
}

#welcome-section .container .row .col-sm h1 {
  font-size: 60px;
}
#welcome-section .container .row .col-sm p {
  font-size: 40px;
}

/* Galery section */
#galeri-foto {
  background-color: black;
  color: white;
}

#galeri-foto .container .col h1 {
  font-family: "Grechen Fuemen", cursive;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#galeri-foto .container .col-sm-5 img {
  width: 100%;
}

#galeri-video .container .col h1 {
  font-family: "Grechen Fuemen", cursive;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#galeri-video .container .col-sm-5 iframe {
  width: 100%;
  height: 500px;
}
